.avatar {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.image {
  object-fit: contain;
}

.fill {
  background-color: var(--color-avatar-button-background);
  width: 100%;
  height: 100%;
}
