.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.chatMeta {
  display: flex;
  align-items: center;
}

.avatar {
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

.title {
  font-size: 13px;
  line-height: 1;
  font-weight: 600;
}

.actions {
  display: flex;
  align-items: center;
}
