.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.chatMeta {
  display: flex;
  align-items: center;
}

.avatar {
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

.title {
  font-size: 13px;
  line-height: 1;
  font-weight: 600;
}

.actions {
  position: relative;
  display: flex;
  align-items: center;
}

.dropdown {
  z-index: 100;
  position: absolute;
  top: calc(100% + 25px);
  right: -10px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  padding: 8px;
  background-color: var(--color-white);
}
