.button {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0;
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  color: var(--color-input-value);

  & > span {
    display: flex;
    align-items: center;
    margin-left: 8px;
  }
}
