.button {
  min-width: 280px;
  padding: 12px 0;
  background-color: var(--color-primary);
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  color: var(--color-primary-button-text);
  transition: 0.2s background-color;

  &:hover {
    background-color: rgba(var(--color-primary--rgb), 0.8);
  }

  &:active {
    background-color: rgba(var(--color-primary--rgb), 0.6);
  }
}
