.badge {
  font-size: 11px;
  line-height: 12px;
  font-weight: 500;
  color: var(--color-primary-button-text);
  background-color: var(--color-primary);
  border-radius: 20px;
  min-width: 20px;
  padding: 4px;
  white-space: nowrap;
}
